#container {
  padding: 10px;
}

#showcase {
  display: flex;
  flex-wrap: wrap;
}

.gh-action-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140px;
  margin: 15px 5px;
}

.gh-action-badge-img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: 0 1px 5px rgba(27,31,35,.15);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.gh-action-badge--white {
  background-color: #ffffff;
  color: #23292e;
}

.gh-action-badge--yellow {
  background-color: #ffd33d;
  color: #23292e;
}

.gh-action-badge--blue {
  background-color: #0366d6;
  color: #ffffff;
}

.gh-action-badge--green {
  background-color: #28a745;
  color: #ffffff;
}

.gh-action-badge--orange {
  background-color: #f66a0a;
  color: #ffffff;
}

.gh-action-badge--red {
  background-color: #d73a49;
  color: #ffffff;
}

.gh-action-badge--purple {
  background-color: #6f42c1;
  color: #ffffff;
}

.gh-action-badge--gray-dark {
  background-color: #24292e;
  color: #ffffff;
}

